<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="goHome()">
      <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="sports_martial_arts"></mat-icon>
    </button>
    <span class="playful-font">EatRite!</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="slideshow-container">
  <img src="https://images.unsplash.com/photo-1628573255381-e1b7712b5ba0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="mySlides">
  <img src="https://images.unsplash.com/photo-1634925718077-8b5c093f3d75?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="mySlides">
  <img src="https://images.unsplash.com/photo-1675110621195-f176013647fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="mySlides">
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

