.example-card {
    max-width: 800px;
    margin-bottom: 8px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
  }

mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 100%;
  }

  .comment-button {
    display: flex;
    justify-content: flex-end;
  }
  
  .remarks-list {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .remarks-list a {
    display: block;
  }
  