<mat-card *ngIf="card" class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <img mat-card-image src="{{card.recipeCardImage}}">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <h3>Remarks:</h3>
      <mat-nav-list class="remarks-list">
        <a mat-list-item *ngFor="let c of remarks">
          {{c?.remarks}}
        </a>
      </mat-nav-list>
    </mat-card-content>
    <mat-card-actions class="comment-button">
      <button mat-raised-button type="button" (click)="addComent()">Comment</button>
    </mat-card-actions>
  </mat-card>
  