.recipe-card {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-bottom: 16px;
    max-width: 400px;
    margin: 16px auto;
    opacity: 0.975;
  }  

  .recipe-card:hover {
    background-color: #d6d6d6;
  }
  
  .recipe-content {
    display: flex;
    align-items: center;
  }
  
  .recipe-image-container {
    flex-shrink: 0;
    margin-right: 16px;
  }
  
  .recipe-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  
  .recipe-details {
    flex-grow: 1;
  }
  
  .recipe-details-content {
    display: flex;
    flex-direction: column;
  }
  
  .recipe-title {
    margin: 0;
    font-size: 18px;
  }
  
  .recipe-nutrients {
    margin-top: 8px;
    font-size: 14px;
    color: #585858;
  }
  