<div class="box">
    <h1>Your Ultimate Diet Recipes Starts Here!</h1>
    <br>
    <form [formGroup]="form" (ngSubmit)="search()">
      <mat-form-field appearance="fill">
        <mat-label>Enter a Cuisine</mat-label>
        <input matInput size="60" formControlName="cuisineName">
        <mat-error *ngIf="form.get('cuisineName')?.hasError('required')">Please enter a cuisine</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Enter Minimum Carbs</mat-label>
        <input matInput type="number" size="60" formControlName="minCarbs">
        <mat-error *ngIf="form.get('minCarbs')?.hasError('required')">Please enter minimum Carbs</mat-error>
        <mat-error *ngIf="form.get('minCarbs')?.hasError('min') || form.get('minCarbs')?.hasError('max')">Please enter a value between 1-9999</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Enter Maximum Carbs</mat-label>
        <input matInput type="number" size="60" formControlName="maxCarbs">
        <mat-error *ngIf="form.get('maxCarbs')?.hasError('required')">Please enter maximum Carbs</mat-error>
        <mat-error *ngIf="form.get('maxCarbs')?.hasError('min') || form.get('maxCarbs')?.hasError('max')">Please enter a value between 1-9999</mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" [disabled]="!form.valid">Search</button>
    </form>
  </div>
